<h1>All Recorded Expenses:</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Item Purchased</th>
      <th>Amount</th>
      <th>Payment Type</th>
      <th colspan="3" class="modifyHead"></th>
    </tr>
  </thead>

  <tbody>
    <% @record_expenses.each do |record_expense| %>
      <tr>
        <td><%= record_expense.date %></td>
        <td><%= record_expense.location %></td>
        <td><%= record_expense.purchaseDescription %></td>
        <td><%= record_expense.amount %></td>
        <td><%= record_expense.paymentDescription %></td>
        <td class="modify">
          <!--<%= link_to 'Show', record_expense %>-->
          <%= link_to 'Edit', edit_record_expense_path(record_expense) %>
          <%= link_to 'Delete', record_expense, method: :delete, data: { confirm: 'Are you sure?' } %> </td></div>
      </tr>
    <% end %>

    <tr>
      <td colspan="6" class="blank"> </td>
    </tr>

    <tr>
      <td colspan="4" class="total"> Total: </td>
       <td class="sum"><%= 

        def say_hello(name = "yo")
          "Hello, #{name}."
        end

       %></td>

    </tr>
  </tbody>
</table>

<br>

<%= link_to 'record a new expense', new_record_expense_path %>
